body {
    background-color: #dde0e2;
    text-align: center;
    
    /* Цвет фона для страницы */
}

h1 {
    color: #000305;
    
}

.btn_secondary {
    
    height: 20px;
    border: none;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        background: #0B63F6;
        box-shadow: 0 5px 0 #003CC5;
   
    
}

.btn_secondary:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}

.btn {

    height: 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;


}

.btn:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}